body {
    font-family: "Source Sans Pro";
}

.ng-touched.ng-invalid {
    border-color: #dc3545;
}

.ng-valid {
    border-color: #28a745;
}

.article {
    margin-bottom: 50px;
}

.article_title {
    line-height: 45px;
    color: rgb(80,106,133);
}

.article_title_link {
    line-height: 45px;
    font-size: 2.25rem;
    color: rgb(80,106,133);
    transition: all 0.3s ease;

    &:hover {
        color: rgb(0,188,156);
        text-decoration: none;
    }
}

.article_image {
    width: 100%;
}

.article_bottom {
    float: left;
    margin-right: 10px;
}

.grey {
    color: rgb(128, 128, 128);
}

.small {
    font-size: 0.75rem;
}

.clear {
    clear: both;
}

.link {
    color: rgb(80,106,133);
    transition: all 0.3s ease;

    &:hover {
        color: rgb(0,188,156);
        text-decoration: none;
    }
}

.active_icon {
    color: rgb(75, 75, 75);
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}

.comment_icon {
    margin-left: 5px;
    font-size: 0.9rem;
}

.putted_like {
    color: rgb(225, 25, 25);

    &:hover {
        color: rgb(225, 25, 25);
        text-decoration: none;
    }
}

.comment {
    margin-bottom: 20px;
}

.comment_article_title
{
    font-size: 1.35rem;
    color: rgb(80,106,133);
    transition: all 0.2s ease;

    &:hover {
        color: rgb(0,188,156);
        text-decoration: none;
    }
}

@media screen and (max-width: 991px) {
    .article_title {
        font-size: 1.5rem;
    }

    .article_title_link {
        font-size: 1.5rem;
    }
}

.category
{
    text-align: center;
}

.main_container {
    padding-top: 4.5rem;
}

.top_link {
    transition: all 0s ease !important;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        background-color: #ddd;
    }
    
    &.active {
        background-color: #bbb;
    }
}

.nav-link
{
    text-align: center;
}

.nav-link:hover {
    transition: all 0.4s;
}

.nav-link-collapse:after {
    float: right;
    content: '\f067';
    font-family: 'FontAwesome';
}

.nav-link-show:after {
    float: right;
    content: '\f068';
    font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
    padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
    padding-left: 20px;
}

.top_link
{
    margin: 0;
}

@media (min-width: 992px)
{
    .sidenav
    {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        margin-top: 54px;
        box-sizing: border-box;
    }

    .navbar-expand-lg .sidenav
    {
        flex-direction: column;
    }

    .content-wrapper
    {
        margin-left: 230px;
    }
    
    .top_link
    {
        margin-right: 5px;
    }
}