<div class="row">
    <div class="col-lg-9 col-xl-10">
        <h1 *ngIf="comments.length == 0">У вас нет комментариев</h1>
        <div class="comment" *ngFor="let comment of comments">
            <a [routerLink]="['/article/show', comment.articleId]" class="comment_article_title">{{ comment.articleTitle }}</a><br>
            <b class="font-weight-bold">{{ comment.userName }} </b>
            <span class="grey small"> {{ comment.createdAt }}</span>
            <a href="javascript:;" class="active_icon comment_icon" (click)="deleteComment(comment.id)"><i class="far fa-trash-alt"></i></a>
            <div [innerHTML]="comment.text"></div>
        </div>
    </div>
</div>