<div class="row">
    <div class="col-lg-9 col-xl-10">
        <form [formGroup]="form" (ngSubmit)="createArticle()">
            <div class="form-group">
                <label>Категории</label>
                <div *ngFor="let category of categories; let i = index">
                    <label>
                        <input type="checkbox" [value]="category.id" (change)="checkChange($event)">
                        {{ category.name }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Заголовок</label>
                <input class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label>Изображение</label>
                <br>
                <input type="file" (change)="selectFile($event)">
            </div>
            <div class="form-group">
                <label>Описание</label>
                <angular-editor id="description" formControlName="description" [config]="editorConfig"></angular-editor>
            </div>
            <div class="form-group">
                <label>Текст</label>
                <angular-editor id="content" formControlName="content" [config]="editorConfig"></angular-editor>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Добавить</button>
            </div>
        </form>
    </div>
</div>